.searchbar {
  width: 60%;
  display: flex;
}
.search {
  flex: 1 1 95%;
  font-size: 1.1rem;
  background-color: #121212;
  color: white;
  border: none;
  padding: 0.2em 0.2em;
}
.searchBtn {
  flex: 1 1 5%;
  font-size: 1.2rem;
  background-color: #313131;
  border: none;
}
