.container {
  padding: 0.4em;
  height: auto;
}
/* .container.grid {
  width: 50%;
} */
.container.list {
  width: 100%;
}
.videoItem {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid lightgray; */
  cursor: pointer;
  transition: transform 250ms ease-in;
}
.videoItem:hover {
  transform: scale(1.02);
}
.thumbnails {
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  width: 100%;
}
.title {
  display: -webkit-box;
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; */
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  color: white;
}
.channelTitle {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #909090;
}
.channelImg {
  border-radius: 50%;
  margin-right: 0.5em;
  width: 2.5em;
  height: 2.5em;
}
@media screen and (max-width: 102rem) {
  .container.grid {
    width: 25%;
  }
}
@media screen and (max-width: 96rem) {
  .container.grid {
    width: 33.333%;
  }
}
@media screen and (max-width: 72rem) {
  .container.grid {
    width: 50%;
  }
}

@media screen and (max-width: 48rem) {
  .container.grid {
    width: 100%;
  }
}
