.videoItem {
  display: flex;
  box-shadow: 0.2rem 0.2rem lightgray;
  /* margin-bottom: 1rem; */
  margin: 0.5rem 1rem;
  cursor: pointer;
  list-style: none;
  width: 100%;
}
.img {
  display: flex;
  padding-right: 0.8rem;
}
.info {
  display: flex;
  flex-direction: column;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.channelTitle {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #909090;
}
.channelImg {
  border-radius: 50%;
  margin-right: 0.5em;
  width: 3em;
  height: 3em;
}
@media screen and (max-width: 48rem) {
  .videoItem {
    width: 100%;
  }
}
