.container {
  /* box-shadow: 0.2rem 0.2rem lightgray; */
  /* margin-bottom: 1rem; */
  /* margin: 0.5rem 1rem; */
  width: 50%;
  padding: 0.2em;
  /* box-sizing: border-box; */
}
.videoItem {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 250ms ease-in;
}
.videoItem:hover {
  transform: scale(1.02);
}
.img {
  display: flex;
  padding-right: 0.8rem;
  width: 40%;
  height: 100%;
}
.info {
  display: flex;
  flex-direction: column;
}
.title {
  display: -webkit-box;
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; */
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.channelTitle {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #909090;
}
.channelImg {
  border-radius: 50%;
  margin-right: 0.5em;
  width: 3em;
  height: 3em;
}
@media screen and (max-width: 48rem) {
  .videoItem {
    width: 100%;
  }
}
